
Builds/Android/app/.cxx/cmake/debug_Debug/x86/.ninja_log
Builds/Android/app/.cxx/cmake/debug_Debug/x86/.ninja_deps
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/liboboe.a
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/OutputMixerOpenSLES.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/OpenSLESUtilities.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/EngineOpenSLES.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/AudioStreamOpenSLES.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/AudioStreamBuffered.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/AudioOutputStreamOpenSLES.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/opensles/AudioInputStreamOpenSLES.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SourceI24.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SourceI16.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SourceFloat.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SinkI24.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SinkI16.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SinkFloat.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/SampleRateConverter.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/SincResamplerStereo.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/SincResampler.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/PolyphaseResamplerStereo.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/PolyphaseResamplerMono.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/PolyphaseResampler.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/MultiChannelResampler.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/LinearResampler.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/resampler/IntegerRatio.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/RampLinear.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/MonoToMultiConverter.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/ManyToMultiConverter.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/FlowGraphNode.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/flowgraph/ClipToRange.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/fifo/FifoControllerIndirect.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/fifo/FifoControllerBase.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/fifo/FifoController.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/fifo/FifoBuffer.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/Version.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/Utilities.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/Trace.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/StabilizedCallback.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/SourceI16Caller.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/SourceFloatCaller.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/QuirksManager.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/LatencyTuner.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/FixedBlockWriter.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/FixedBlockReader.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/FixedBlockAdapter.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/FilterAudioStream.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/DataConversionFlowGraph.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/AudioStreamBuilder.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/AudioStream.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/common/AudioSourceCaller.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/aaudio/AudioStreamAAudio.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/oboe/CMakeFiles/oboe.dir/src/aaudio/AAudioLoader.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/libcpufeatures.a
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/Source/NativeAndroidJuceActivity.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_gui_basics.cpp-aa8dbdb6.o.tmp
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_graphics.cpp-00e2ba79.o.tmp
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_events.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_data_structures.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_core.cpp-77bbec2d.o.tmp
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_audio_formats.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_audio_devices.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_audio_basics.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/cpufeatures.dir/C_/Users/fmlin/AppData/Local/Android/Sdk/ndk/21.1.6352462/sources/android/cpufeatures/cpu-features.c.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/build_model.json
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/android_gradle_build_juce_jni_arm64-v8a.stdout.txt
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/android_gradle_build_juce_jni_arm64-v8a.stderr.txt
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/android_gradle_build_juce_jni_arm64-v8a.command.txt
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/.ninja_log
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/.ninja_deps
Builds/Android/app/.cxx/abi_configuration_g3w1t694_key.json
Builds/Android/app/.cxx/abi_configuration_g3w1t694.log
Builds/Android/app/.cxx/abi_configuration_g3w1t694.json
Builds/Android/.idea/vcs.xml
Builds/Android/.idea/modules/app/NativeAndroidJuceSample.app.iml
Builds/Android/.idea/caches/build_file_checksums.ser
Builds/Android/.gradle/checksums/checksums.lock
Builds/Android/.gradle/buildOutputCleanup/outputFiles.bin
Builds/Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Builds/Android/.gradle/6.5/javaCompile/taskHistory.bin
Builds/Android/.gradle/6.5/javaCompile/javaCompile.lock
Builds/Android/.gradle/6.5/javaCompile/jarAnalysis.bin
Builds/Android/.gradle/6.5/javaCompile/classAnalysis.bin
Builds/Android/.gradle/6.5/fileHashes/resourceHashesCache.bin
Builds/Android/.gradle/6.5/fileHashes/fileHashes.lock
Builds/Android/.gradle/6.5/fileHashes/fileHashes.bin
Builds/Android/.gradle/6.5/fileContent/fileContent.lock
Builds/Android/.gradle/6.5/executionHistory/executionHistory.lock
Builds/Android/.gradle/6.5/executionHistory/executionHistory.bin
*.bin
Builds/Android/.gradle/6.5/executionHistory/executionHistory.bin
Builds/Android/.gradle/6.5/executionHistory/executionHistory.lock
Builds/Android/.gradle/6.5/fileHashes/fileHashes.bin
Builds/Android/.gradle/6.5/fileHashes/fileHashes.lock
Builds/Android/.gradle/6.5/fileHashes/resourceHashesCache.bin
Builds/Android/.gradle/6.5/javaCompile/classAnalysis.bin
Builds/Android/.gradle/6.5/javaCompile/jarAnalysis.bin
Builds/Android/.gradle/6.5/javaCompile/javaCompile.lock
Builds/Android/.gradle/6.5/javaCompile/taskHistory.bin
Builds/Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Builds/Android/.gradle/buildOutputCleanup/outputFiles.bin
Builds/Android/.idea/caches/build_file_checksums.ser
Builds/Android/.idea/modules/app/NativeAndroidJuceSample.app.iml
Builds/Android/.idea/vcs.xml
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/build_model.json
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_core.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_graphics.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/juce_jni.dir/C_/JUCE-dev/examples/NativeAndroidJuceSample/JuceLibraryCode/include_juce_gui_basics.cpp.o
Builds/Android/app/.cxx/cmake/debug_Debug/x86/.ninja_deps
Builds/Android/app/.cxx/cmake/debug_Debug/x86/.ninja_log
